body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app.light {
  background-color: #ffffff;
  color: #000000;
}

.app.dark {
  background-color: #121212;
  color: #ffffff;
}

.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.pagination button {
  margin: 5px;
  padding: 5px 10px;
}

.pagination .active {
  font-weight: bold;
}

.home input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  max-width: 400px;
}

.home ul {
  list-style: none;
  padding: 0;
}

.home ul li {
  margin: 10px 0;
  border: 2px solid #d7d2d2;
  padding-left: 10px;
  min-width: 200px;
  max-width: 800px;
}

.home ul li a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .theme-toggle {
    font-size: 0.8em;
  }

  .pagination button {
    padding: 3px 8px;
  }

  .home input {
    width: 90%;
    height: 20px;
  }
}

.progress-container {
  min-height: 100vh;
  max-height: 1200px;
  font-size: xx-large;
  padding-top: 30px;
}

.sort-button {
  padding: 7px;
}
