.user-detail {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  max-height: 1020px;
  min-height: 90vh;
}

.user-detail h1 {
  font-size: 2em;
  margin-bottom: 10px;
  text-decoration: underline;
}

.user-detail p {
  margin: 5px 0;
  line-height: 1.5;
}

.user-detail a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #1583f8;
  font-weight: bold;
}

.user-detail a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .user-detail {
    padding: 10px;
  }

  .user-detail h1 {
    font-size: 1.5em;
  }

  .user-detail p {
    font-size: 0.9em;
  }
}
.progress-container {
  min-height: 100vh;
  max-height: 1200px;
  font-size: xx-large;
  padding-top: 30px;
}

.user-details {
  margin: 2px;
  border: 2px solid currentColor;
  padding: 30px;
  border-radius: 10px;
}
