body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-height: 12000px;
  max-width: 12000px;
}

.app {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.app.light {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding-top: 20px;
}

.app.dark {
  background-color: #121212;
  color: #ffffff;
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.theme-toggle {
  background-color: transparent;
  border: 1px solid currentColor;
  cursor: pointer;
  color: currentColor;
}

.theme-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
